
.app-login{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.login-body{
    height: 100%;
    width: 100%;
    video{
        width: 100%;
        height: 88vh;
    }
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .login{
        cursor: pointer;
    }
}

.warning{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1pt;
    font-weight: bold;
}