@import '../../../../assets/variables';
.app-home{
    width: 100%;
    height: 100%;
    .home-container{
        margin-top: 20pt;
        &--data{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            mat-card{
                cursor: pointer;
                width: 200pt;
                height: 200pt;
                background-color: $secondary-color-light;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 1;
                transition: 0.5s;
                &:hover{
                    opacity: .8;
                }
                span{
                    width: 60%;
                    text-align: center;
                    letter-spacing: 2pt;
                    text-transform: uppercase;
                    font-weight: bold;
                    line-height:17pt;
                }
            }
        }

    }
}
