<div class="home-container">
    <div class="home-container--data">
        <mat-card routerLink="../flashcards/game">
            <span>
               START
            </span>
        </mat-card>
         <mat-card routerLink="../flashcards/list">
            <span>
                YOUR FLASHCARDS
            </span>
        </mat-card>
        <mat-card (click)="goToExtension()">
           <span>
                Download Flashcard Chrome Extension
           </span>
        </mat-card>
    </div>
</div>